body {
  margin: 4rem 0;
  padding: 0;
}

.app {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 1rem;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5%;
}

h2 {
  letter-spacing: 0.3rem;
}

input[type='text'] {
  width: 70%;
  padding: 0.3rem;
  font-size: 1rem;
}

.save {
  border: 0;
  padding: 0.5rem;
  width: 4rem;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 10%;
  background-color: darkorange;
}

.save:active {
  background-color: rgb(255, 154, 31);
}

.delete {
  background-color: red;
  color: white;
  border: 0;
  font-size: 1rem;
  padding: 0.4rem;
  cursor: pointer;
}

.delete:hover {
  background: rgb(218, 13, 13);
}

.task {
  width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  margin: 0.7rem auto;
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
